p{
    font-style: oblique;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
}
#firstPara{
    background-color: yellow;
}
#secondPara{
    background-color: rgb(171, 18, 18, 0.699);
}
#thirdPara{
    background-color: #42daf5;
    width: 50%;
    border: yellowgreen 5px solid;
    border-radius: 5px;
}
h1{
    background-color: azure;
    border: solid brown 5px;
    border-radius: 15px;
}
article{
    
}