*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    
}
.main{
    /* height: 800px;
    width: 800px; */
    background: #BCE29E;
    display: flex;  
    flex-wrap: wrap;
    padding: 50px;
}
.buttons{
    background: #829460;
    height: 120px;
    width: 80px;
    border: 5px solid #A6FF96;
    border-radius: 2px;
    margin: 25px;
}
/* @-webkit-keyframes color_change {
	from { background-color: #0433FF; }
	to { background-color: red; }
} */